name: Build Spark sql perf

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'adopt'

    - name: Cache sbt
      uses: actions/cache@v4
      with:
        path: |
          ~/.ivy2/cache
          ~/.sbt
          ~/.coursier
        key: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt') }}
        restore-keys: |
          ${{ runner.os }}-sbt-

    - name: Build with sbt
      run: ./build/sbt compile

    - name: Package with sbt
      run: ./build/sbt package

    - name: Extract version
      id: extract_version
      run: |
        version=$(cat version.sbt | grep 'version in ThisBuild :=' | awk -F'\"' '{print $2}')
        echo "version=$version" >> $GITHUB_ENV

    - name: Upload JAR artifact
      uses: actions/upload-artifact@v4
      with:
        name: spark-sql-perf_2.12-${{ env.version }}.jar
        path: target/scala-2.12/*.jar